* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%; }

p {
  color: black; }

.container {
  max-width: 1390px; }

.cta-section {
  color: #fff;
  background-color: #585989; }

.footer {
  color: #fff;
  background-color: #070439; }
