* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //background-color: greenyellow;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

p {
  color: black;
  // font-size: 2rem;
}

////////////////////////////////////////////
////////////////  GENERAL /////////////////
.container {
  max-width: 1390px;
  margin: 0 auto;
}

.heading-primary {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.4rem;
}

.heading-secondary {
  font-size: 2.1rem;
  margin-bottom: 1.4rem;
}

////////////////////////////////////////////
////////////////  NAVBAR /////////////////
.nav {
  // background-color: rgb(232, 208, 192);
  font-size: 1.1rem;
  padding: 2rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  &__link {
    color: #000;
    text-decoration: none;
    margin-left: 2rem;
  }
}

////////////////////////////////////////////
////////////////  HERO SECTION /////////////////
.hero-container {
  // background-color: chartreuse;
  padding: 6rem 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  // LEFT
  &__left-side {
    width: 50%;

    p {
      width: 35rem;
    }
  }

  &__input {
    width: 55%;
    padding: 0.85rem 1rem;
    margin-right: 0.7rem;
  }

  &__button {
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.85rem 2.5rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
  }

  // RIGHT
  &__right-side {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

//////////////////////////////////////////////////
////////////////  DETAIL SECTION /////////////////
.detail {
  background-color: hsl(240, 75%, 98%);
}

.detail-container {
  // background-color: greenyellow;
  padding: 8rem 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  // LEFT
  &__left-side {
    width: 60%;

    p {
      width: 37rem;
    }
  }

  &__link-box {
    font-size: 1.1rem;
    margin-bottom: 2.8rem;
  }

  &__link:link,
  &__link:visited {
    color: green;
    text-decoration: underline;
  }

  &__testimonial-card {
    background-color: #fff;
    width: 23rem;
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  &__quote {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 1.2rem;
  }

  &__profil {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__profil-picture {
    width: 2.2rem;
    border-radius: 50%;
    margin-right: 0.8rem;
  }

  &__profil-details {
    display: flex;
    flex-direction: column;
  }

  &__profil-name {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
  }

  // RIGHT
  &__right-side {
    width: 40%;

    img {
      width: 100%;
    }
  }
}

//////////////////////////////////////////////////
////////////////  CTA SECTION /////////////////
.cta {
  color: #fff;
  background-color: hsl(238, 22%, 44%);
}

.cta-container {
  // background-color: greenyellow;
  padding: 4rem 3rem;

  display: flex;
  flex-direction: row;

  p,
  button {
    color: #fff;
  }

  p {
    width: 33rem;
  }

  // LEFT
  &__left-side {
    width: 50%;
  }

  // RIGHT
  &__right-side {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__input {
    width: 30rem;
    padding: 1rem;
    border: none;
    border: 0.2rem;
    margin-bottom: 0.8rem;
  }

  &__button {
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}

//////////////////////////////////////////////////
////////////////  FOOTER /////////////////
.footer {
  color: #fff;
  background-color: hsl(243, 87%, 12%);
  font-size: 1rem;
}

.footer-container {
  color: #fff;
  // background-color: rgb(84, 92, 72);
  padding: 4rem 3rem;

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;

  &__logo {
    width: 10rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.4rem;

    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  &__contact {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
  }

  &__extlink {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 1rem;
    }
  }

  &__info {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 1rem;
    }
  }

  &__social-link {
    grid-column: 4 / 5;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__social-icon {
    width: 2rem;
    margin-right: 0.3rem;
  }

  &__contact-icon {
    margin-right: 0.9rem;
  }

  &__contact-center {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
