* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //background-color: greenyellow;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

p {
  color: black;
  // font-size: 2rem;
}

////////////////////////////////////////////
////////////////  GENERAL /////////////////
////////////////////////////////////////////
.container {
  max-width: 1390px;
  margin: 0 auto;
}

.heading-primary {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
  width: 95%;

  @media only screen and (max-width: 1230px) {
    font-size: 2.1rem;
  }

  @media only screen and (max-width: 1130px) {
    font-size: 1.95rem;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 1.83rem;
  }

  @media only screen and (max-width: 930px) {
    font-size: 1.6rem;
  }

  @media only screen and (max-width: 825px) {
    font-size: 2.1rem;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.heading-primary-1 {
  @media only screen and (max-width: 445px) {
    font-size: 1.6rem;
  }
}

.heading-primary-2 {
  @media only screen and (max-width: 480px) {
    font-size: 1.2rem;
  }
}

.heading-secondary {
  font-size: 2.2rem;
  margin-bottom: 1.4rem;

  @media only screen and (max-width: 1230px) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 1130px) {
    font-size: 1.7rem;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 1.65rem;
  }

  @media only screen and (max-width: 930px) {
    font-size: 1.4rem;
  }
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.4rem;

  @media only screen and (max-width: 1230px) {
    font-size: 1rem;
  }

  @media only screen and (max-width: 930px) {
    font-size: 0.85rem;
  }

  @media only screen and (max-width: 825px) {
    font-size: 1.1rem;
  }

  @media only screen and (max-width: 445px) {
    font-size: 0.9rem;
  }
}

////////////////////////////////////////////
////////////////  NAVBAR /////////////////
////////////////////////////////////////////
.nav {
  // background-color: rgb(232, 208, 192);
  font-size: 1.1rem;
  padding: 2rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 1230px) {
    font-size: 0.9rem;
  }

  @media only screen and (max-width: 930px) {
    font-size: 0.85rem;
  }

  @media only screen and (max-width: 825px) {
    font-size: 1rem;
  }

  @media only screen and (max-width: 480px) {
    padding: 1.8rem;
  }

  @media only screen and (max-width: 445px) {
    font-size: 0.8rem;
    padding: 1.8rem;
  }

  &__logo {
    width: 8rem;

    @media only screen and (max-width: 930px) {
      width: 7rem;
    }

    @media only screen and (max-width: 825px) {
      width: 8rem;
    }

    @media only screen and (max-width: 683px) {
      width: 7rem;
    }

    @media only screen and (max-width: 445px) {
      width: 5rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  &__link {
    color: #000;
    text-decoration: none;
    margin-left: 2rem;

    @media only screen and (max-width: 374px) {
      margin-left: 1.35rem;
    }
  }
}

////////////////////////////////////////////
////////////////  HERO SECTION /////////////////
////////////////////////////////////////////
.hero-container {
  // background-color: chartreuse;
  padding: 6rem 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: 1230px) {
    padding: 6rem 0rem 6rem 3rem;
  }

  @media only screen and (max-width: 825px) {
    flex-direction: column;
    padding: 4rem 6rem 8rem 6rem;
    text-align: center;
  }

  @media only screen and (max-width: 683px) {
    padding: 4rem 2.8rem;
  }

  @media only screen and (max-width: 480px) {
    padding: 4rem 2.6rem;
  }

  @media only screen and (max-width: 445px) {
    padding: 3rem 1.8rem;
  }

  // LEFT
  &__left-side {
    width: 50%;

    @media only screen and (max-width: 930px) {
      width: 50%;
    }

    @media only screen and (max-width: 825px) {
      width: 100%;
      text-align: center;
      order: 2;
    }

    @media only screen and (max-width: 825px) {
    }

    p {
      width: 35rem;

      @media only screen and (max-width: 1230px) {
        width: 32rem;
      }

      @media only screen and (max-width: 1050px) {
        width: 27rem;
      }

      @media only screen and (max-width: 930px) {
        width: 24rem;
      }

      @media only screen and (max-width: 825px) {
        width: 100%;
        margin-bottom: 1.8rem;
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;

    // display: flex;
    // flex-direction: row;
    // align-items: center;

    @media only screen and (max-width: 825px) {
      display: inline-block;
      justify-content: center;
    }
  }

  &__input {
    width: 65%;
    padding: 0.79rem 1rem;
    margin-right: 0.7rem;

    @media only screen and (max-width: 1230px) {
      // width: 20rem;
      padding: 0.65rem 1rem;
    }

    @media only screen and (max-width: 1050px) {
      padding: 0.6rem 1rem;
    }

    @media only screen and (max-width: 825px) {
      width: 100%;
      margin-bottom: 1rem;
    }

    @media only screen and (max-width: 480px) {
      // width: 24rem;
      // margin: 0 auto;
    }
  }

  &__button {
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.85rem 1.8rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;

    @media only screen and (max-width: 1230px) {
      font-size: 0.7rem;
      padding: 0.85rem 1.4rem;
    }

    @media only screen and (max-width: 825px) {
      width: 100%;
    }

    @media only screen and (max-width: 480px) {
      // width: 24rem;
      // margin-top: 1rem;
    }
  }

  &__button:hover,
  &__button:active {
    background-color: hsl(224, 94%, 64%);
  }

  // RIGHT
  &__right-side {
    width: 50%;

    @media only screen and (max-width: 825px) {
      width: 100%;
      order: 1;
      margin-bottom: 6rem;
    }

    img {
      width: 100%;

      @media only screen and (max-width: 1230px) {
        width: 90%;
      }
    }
  }
}

//////////////////////////////////////////////////
////////////////  DETAIL SECTION /////////////////
////////////////////////////////////////////
.detail {
  background-color: hsl(240, 75%, 98%);
}

.detail-container {
  // background-color: greenyellow;
  padding: 8rem 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: 825px) {
    flex-direction: column;
    padding: 8rem 6rem;
    text-align: center;
  }

  @media only screen and (max-width: 683px) {
    padding: 4.5rem 2.8rem;
  }

  @media only screen and (max-width: 480px) {
    padding: 6rem 1.8rem 6rem 1.8rem;
  }

  @media only screen and (max-width: 445px) {
    font-size: 0.8rem;
    padding: 3rem 1.4rem;
  }

  // LEFT
  &__left-side {
    width: 60%;

    @media only screen and (max-width: 825px) {
      width: 100%;
      order: 2;
    }

    p {
      width: 37rem;

      @media only screen and (max-width: 1230px) {
        width: 30rem;
      }

      @media only screen and (max-width: 930px) {
        width: 23rem;
      }

      @media only screen and (max-width: 825px) {
        width: 100%;
      }
    }
  }

  &__link-box {
    font-size: 1.1rem;
    margin-bottom: 2.8rem;

    @media only screen and (max-width: 1230px) {
      font-size: 0.9rem;
    }

    @media only screen and (max-width: 930px) {
      font-size: 0.8rem;
    }

    @media only screen and (max-width: 825px) {
      font-size: 1rem;
    }

    @media only screen and (max-width: 445px) {
      font-size: 0.89rem;
    }
  }

  &__link:link,
  &__link:visited {
    color: rgb(8, 155, 8);
    text-decoration: underline;
  }

  &__link:hover,
  &__link:active {
    color: rgb(10, 187, 10);
  }

  // TESTIMONIAL WHITE CARD
  &__testimonial-card {
    background-color: #fff;
    width: 23rem;
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    @media only screen and (max-width: 1230px) {
      width: 20rem;
    }

    @media only screen and (max-width: 930px) {
      width: 19rem;
    }

    @media only screen and (max-width: 825px) {
      width: 23rem;
      text-align: left;
      margin: 0 auto;
    }

    @media only screen and (max-width: 445px) {
      width: 100%;
    }
  }

  &__quote {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 1.2rem;

    @media only screen and (max-width: 1230px) {
      font-size: 0.8rem;
    }

    @media only screen and (max-width: 930px) {
      font-size: 0.75rem;
    }

    @media only screen and (max-width: 825px) {
      font-size: 0.9rem;
    }

    @media only screen and (max-width: 445px) {
      font-size: 0.8rem;
    }
  }

  &__profil {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__profil-picture {
    width: 2.2rem;
    border-radius: 50%;
    margin-right: 0.8rem;
  }

  &__profil-details {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 445px) {
      font-size: 0.65rem;
    }
  }

  &__profil-name {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.2rem;

    @media only screen and (max-width: 1230px) {
      font-size: 0.7rem;
    }

    @media only screen and (max-width: 930px) {
      font-size: 0.65rem;
    }

    @media only screen and (max-width: 825px) {
      font-size: 0.75rem;
    }

    @media only screen and (max-width: 445px) {
      font-size: 0.7rem;
    }
  }

  // RIGHT
  &__right-side {
    width: 40%;

    @media only screen and (max-width: 1230px) {
      width: 50%;
    }

    @media only screen and (max-width: 825px) {
      width: 100%;
      order: 1;
      margin-bottom: 6rem;
    }

    img {
      width: 100%;

      @media only screen and (max-width: 825px) {
        width: 90%;
      }
    }
  }
}

//////////////////////////////////////////////////
////////////////  CTA SECTION /////////////////
////////////////////////////////////////////
.cta {
  color: #fff;
  background-color: hsl(238, 22%, 44%);
}

.cta-container {
  // background-color: greenyellow;
  padding: 6rem 3rem;

  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 825px) {
    flex-direction: column;
    padding: 4.5rem 6rem;
    text-align: center;
  }

  @media only screen and (max-width: 683px) {
    padding: 4.5rem 2.8rem;
  }

  @media only screen and (max-width: 480px) {
    padding: 4rem 2.6rem;
  }

  @media only screen and (max-width: 445px) {
    font-size: 0.8rem;
    padding: 3rem 1.8rem;
  }

  p,
  button {
    color: #fff;
  }

  p {
    width: 33rem;

    @media only screen and (max-width: 1230px) {
      width: 29rem;
    }

    @media only screen and (max-width: 1050px) {
      width: 25rem;
    }

    @media only screen and (max-width: 930px) {
      width: 21rem;
    }

    @media only screen and (max-width: 825px) {
      width: 100%;
      margin-bottom: 2.2rem;
    }
  }

  // LEFT
  &__left-side {
    width: 50%;

    @media only screen and (max-width: 825px) {
      width: 100%;
    }
  }

  // RIGHT
  &__right-side {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 825px) {
      width: 100%;
      flex-direction: row;
    }
  }

  &__input {
    width: 30rem;
    padding: 1rem;
    border: none;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;

    @media only screen and (max-width: 1050px) {
      width: 26rem;
      padding: 0.8rem;
    }

    @media only screen and (max-width: 930px) {
      width: 23rem;
    }

    @media only screen and (max-width: 825px) {
      width: 20rem;
    }

    @media only screen and (max-width: 683px) {
      // width: 24rem;
    }
  }

  &__button {
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;

    @media only screen and (max-width: 1230px) {
      font-size: 0.8rem;
    }

    @media only screen and (max-width: 1050px) {
      font-size: 0.75rem;
      padding: 0.8rem 1.8rem;
    }

    @media only screen and (max-width: 825px) {
      width: 20rem;
      font-size: 0.9rem;
      padding: 0.8rem 2rem;
    }
  }

  &__button:hover,
  &__button:active {
    background-color: hsl(224, 94%, 64%);
  }
}

//////////////////////////////////////////////////
////////////////  FOOTER /////////////////
////////////////////////////////////////////
.footer {
  color: #fff;
  background-color: hsl(243, 87%, 12%);
  font-size: 1rem;

  @media only screen and (max-width: 1230px) {
    font-size: 0.8rem;
  }

  @media only screen and (max-width: 825px) {
    font-size: 0.85rem;
  }
}

.footer-container {
  color: #fff;
  // background-color: rgb(84, 92, 72);
  padding: 4rem 3rem;

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;

  @media only screen and (max-width: 554px) {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    width: 12rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.4rem;

    grid-column: 1 / 4;
    grid-row: 1 / 2;

    @media only screen and (max-width: 1050px) {
      width: 8rem;
    }
  }

  &__contact {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
  }

  &__extlink {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 1rem;
    }
  }

  &__info {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 1rem;
    }
  }

  &__social-link {
    grid-column: 4 / 5;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__social-icon {
    width: 2rem;
    margin-right: 0.3rem;

    @media only screen and (max-width: 930px) {
      width: 1.6rem;
    }
  }

  &__contact-icon {
    margin-right: 0.9rem;
  }

  &__contact-center {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
